<div class="footer">
    <div class="footer-subscribe-block">
        <h1 class="footer-title">Know more about me:</h1>
    </div>
    <div class="footer-content">
        <div class="column-1">
            <h2 class="footer-title">Social Media</h2>
            <li><a href="">Facebook</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">X/Twitter</a></li>
            <li><a href="">Linkedin</a></li>
            <li><a href="">Github</a></li>
        </div>

        <div class="column-2">
            <h2 class="footer-title">Repositories</h2>
            <li><a href="">Platterstore</a></li>
            <li><a href="">Lusanix</a></li>
            <li><a href="">Online carwash</a></li>
            <li><a href="">Ecommerce-store</a></li>
        </div>
        
        <div class="column-3">
            <h2 class="footer-title">Tech stack</h2>
            <li><a href="">Angular</a></li>
            <li><a href="">Node.js</a></li>
            <li><a href="">Less.org</a></li>
            <li><a href="">GSAP</a></li>
            <li><a href="">Vercel</a></li>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2025 Bongani Thwala. All rights reserved.</p>
    </div>
</div>
