<div class="footer">
    <div class="footer-subscribe-block">
        <h1 class="footer-title">Know more about me:</h1>
    </div>
    <div class="footer-content">
        <div class="column-1">
            <h2 class="footer-title">Social Media</h2>
            <li class="facebook"><a href="">Facebook</a></li>
            <li class="instagram"><a href="https://www.instagram.com/bongx514/">Instagram</a></li>
            <li class="twitter"><a href="https://x.com/bongx514">X/Twitter</a></li>
            <li class="linkedin"><a href="https://www.linkedin.com/in/bongani-thwala-677398244/">Linkedin</a></li>
            <li class="github"><a href="https://github.com/Bongx514/">Github</a></li>
        </div>

        <div class="column-2">
            <h2 class="footer-title">Repositories</h2>
            <li><a href="">Platterstore</a></li>
            <li><a href="">Lusanix</a></li>
            <li><a href="">Online carwash</a></li>
            <li><a href="">Ecommerce-store</a></li>
        </div>
        
        <div class="column-3">
            <h2 class="footer-title">Tech stack</h2>
            <li><a href="https://angular.dev/">Angular</a></li>
            <li><a href="https://www.nodejs.org/">Node.js</a></li>
            <li><a href="https://lesscss.org/">Less.org</a></li>
            <li><a href="https://gsap.com/">GSAP</a></li>
            <li><a href="https://vercel.com/">Vercel</a></li>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2025 Bongani Thwala. All rights reserved.</p>
    </div>
</div>
