<div class="navigation" id="navbar">
    <div class="logo">
        <span class="logo"></span>
    </div>

    <ul class="list">
        <li class="list-items" *ngFor="let item of navItems">
            <a href={{item.link}} class="item">{{ item.label }}</a>
        </li>
        <span class="menu-icon" (click)="toggleMenu()"></span>
    </ul>
</div>

//mobile menu

<div class="mobile-nav" id="mobileNavbar">
    <ul class="list">
        <li class="list-items" *ngFor="let item of navItems">
            <a href={{item.link}} class="item">{{ item.label }}</a>
        </li>
    </ul>
</div>