@import url('app/web/css/_variables.less');
body {
    font-family: @font-mono;
    margin: 0;
}

h1 {
    color: @white-100;
    font-size: 24px;
    font-weight: @font-bold;
}

h2 {
    color: @white-100;
    font-size: 18px;
    font-weight: @font-semibold;
}

a {
    color: @white-100;
    font-weight: @font-thin;
}

button {
    background-color: @blue-100;
    color: @white-100;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    max-width: 200px;
}