@import url('../../web/css/_variables.less');

.section {
    background-image: url('../../web/images/home-background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;

    .container {
        width: 60%;
        margin: 0 auto;
        padding: 100px 0 0 0;
    }
}